.tasks-list {
    width: 100%;
}

.tasks-list-title {
    padding: 10px 10px;
    color: white;
    background: #000000;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
}